span.annotation-span {
    pointer-events: auto !important;
    z-index: 2147483645;
}

span.annotation-span:hover + div {
    pointer-events: auto !important;
	display:block !important;
	border-radius: .5em;
	z-index: 2147483647;
}

.infobox {
    position: static !important;
    white-space: nowrap;
	width: 300px;
	height: auto;
	font-size: 14px;
	text-align: center;
}

div.text-span {
	color: #FF0000 !important;
    background-color: #FFFFFF;
    border: 1px solid #FF3334;
}

div.menu-span {
    background-color: #FFFFFF;
    border: 1px solid #FF3334;
}

div.critical {
    background-color: #FFCCAA;
    border: 1px solid #FF3334;
}

div.info {
    background-color: #9FDAEE;
    border: 1px solid #2BB0D7;
}

div.warning {
    background-color: #FFFFAA;
    border: 1px solid #FFAD33;
}

.openCalais {
    background-color: rgba(255,204,204,.5);
}

.extractiv {
    background-color: rgba(204,255,255,.5);
}

.lupedia {
    background-color: rgba(154, 205, 50,.5);
}

.alchemyAPI {
    background-color: rgba(255,255,204,.5);
}

.dbpediaSpotlight {
    background-color: rgba(255,204,255,.5);
}

.saplo {
    background-color: rgba(255, 215, 0,.5);
}

.zemanta {
    background-color: rgba(153,255,153,.5);
}

.gate {
    background-color: rgba(204,204,255,.5);
}

.memm {
    background-color: rgba(204,204,255,.5);
}

.wr {
    background-color: rgba(255,153,153,.5);
}

.goldstandard {
    background-color: rgba(204,204,255,.5);
}

.wikimeta {
    background-color: rgba(135, 206, 250,.5);
}

.yahooAPI {
    background-color: rgba(143, 188, 143,.5);
}

.illinoisNER {
    background-color: rgba(221, 160, 221,.5);
}

.stanfordNER {
    background-color: rgba(245, 222, 179,.5);
}

.annotator {
    background: #CBCBFF;
    border: 1px solid #9999FF;
}

.aggregator {
    background: #FFCBCB;
    border: 1px solid #FF9999;
}

@-moz-keyframes blink {
    0% { background: cyan; }
    50% { background: rgba(255,0,0,0); }
    100% { background: cyan; }
}

.animate {
    height: 100px; 
    width: 100px;
    -moz-animation-direction: normal;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 10;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease;
    z-index: 2147483640;   
}
